
.teximage {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 45%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    
}

.imaback {
    filter: brightness(60%);
}


.magrin{
    margin-right: 100px;
}

.fuentecita{
    font-size: xx-large;
    
}

